
.search-id-17 {
  padding: 135px 0 160px; 
  padding: 60px 0px;
  border-bottom: 1px solid hsl(var(--color-white));
  background: linear-gradient(45deg, hsl(var(--color-primary) / 70%) 0%, hsl(var(--color-secondary) / 60%) 100%), var(--search-bg-image);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}


.serach-page_17 .looking-section {
    padding: 10px 20px;
    margin-bottom: 10px;
}


/*sider by id */
/* 
.serach-page_17 ul.chec-radio {
    margin: 15px;
}

.serach-page_17 ul.chec-radio li.pz {
    display: inline;
}

.serach-page_17 .chec-radio label.radio-inline input[type="checkbox"] {
    display: none;
}

.serach-page_17 .chec-radio label.radio-inline input[type="checkbox"]:checked+div {
    color: #fff;
    background-color: #000;
}

.serach-page_17 .chec-radio .radio-inline .clab {
    cursor: pointer;
    background: #e7e7e7;
    padding: 7px 20px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(var(--color-primary));
    position: relative;
    height: 34px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 10px;
}

.serach-page_17 .chec-radio label.radio-inline input[type="checkbox"]:checked+div:before {
    content: "\e013";
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
}
.serach-page_17 .chec-radio label.radio-inline input[type="radio"] {
    display: none;
}
.serach-page_17 .chec-radio label.radio-inline input[type="radio"]:checked+div {
    color: #fff;
    background-color: hsl(var(--color-primary));
} */
input:focus, textarea:focus, select:focus{
  outline: none !important;
}


/* #contatti {
    background: linear-gradient(45deg, hsl(var(--color-primary) / 40%) 0%, hsl(var(--color-secondary) / 950%) 100%), var(--modal-bg-images);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    } */

  #contatti a {
    color: hsl(var(--color-white));
    text-decoration: none;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: hsl(var(--color-white))!important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: hsl(var(--color-white))!important;
  }
  
  .serach-page_17 ::placeholder {
    color: hsl(var(--color-primary))!important;
  }

  .radio-group label {
    overflow: hidden;
 } .radio-group input {
    height: 1px;
    width: 1px;
    position: absolute;
    top: -20px;
 } .radio-group .not-active  {
    color: #3276b1;
    background-color: hsl(var(--color-primary));
 }
 

 
 .serach-page_17 .btn {
    background: hsl(var(--color-primary));
    -moz-user-select: none;
    text-transform: capitalize;
    color: hsl(var(--color-white)) !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
  }
  
  
  .serach-page_17 .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsl(var(--color-secondary));
    color: hsl(var(--color-white)) !important;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0.05);
  }

  .serach-page_17 .btn:hover::before {
    transform: scaleX(1.5);
    color:hsl(var(--color-white)) !important;
    z-index: -1;
  }
  
  .serach-page_17 .header-btn {
    padding: 16px 22px !important;
  }
  .serach-page_17 select {
    border: 0px;
    outline: none;
    border-bottom: 2px solid hsl(var(--color-primary));
}

.serach-page_17  select:focus { 
    outline: none;
}

.serach-page_17 .form-group {
    margin-bottom: 24px;
}

.serach-page_17 .bg-mobile-app .serach-page_17 {
    background: #fff url(search_id_17/downloaddd.png) 10px bottom no-repeat!important;
    min-height: 191px;
}
.serach-page_17 .right-banner {
  height: auto;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 15px;
}

/* .serach-page_17 .mobileheading {
  padding-left: 105px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
  font-size: 16px;
} */

.serach-page_17 .border-box li a  {
  border: 2px solid hsl(var(--color-primary));
  padding: 8px 30px;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 14px;
}
.serach-page_17 .border-box li a:hover {
  transform: scale(1.05);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    background: hsl(var(--color-primary));
    color: white;
    border-radius: 5px;
}

.serach-page_17 .border-box2 li a {
  border: 2px solid hsl(var(--color-primary));
  padding: 8px 20px;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 14px;
}
.serach-page_17 .border-box2 li a:hover {
  transform: scale(1.05);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    background: hsl(var(--color-primary));
    color: white;
    border-radius: 5px;
}